.title-style{
    margin-top: 25px !important;
}
.image-scaled{
    width : 85px;
    height: auto;
}
.card{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.card-twitter{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}